.container{
display: flex;
justify-content: space-between;
}

.button{
  width: 100px;
  padding: 10px 20px;
  background-color: crimson;
  border: none;
  color: white;
  cursor: pointer;
}

.button:disabled{
  background-color: grey;
  cursor: not-allowed;
}